.sidebar {
  height: 89vh;
  flex: 0.2;
  background-color: #040404;
  color: white;
  min-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.top__options {
  height: 80px;
  background-color: #212121;
  border-radius: 15px;
  padding-left: 10px;
  margin-top: 10px;
}
.below__options {
  background-color: #212121;
  height: 86.5%;
  border-radius: 15px;
  gap: 4px;
}
.set1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
}
.set2 {
  display: flex;
  justify-content: space-evenly;
  padding: 4px 4px;
}
