.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.songRow:hover {
  cursor: pointer;
  background-color: gray;
  opacity: 0.8;
}
.songRow__info {
  margin-left: 10px;
}
.songRow__info > h1 {
  font-size: 16px;
  margin-top: 3px;
  color: white;
}
.songRow__album {
  height: 40px;
  width: 40px;
}
